{% extends "layout.html" %}

{% block page_title %}
  Example - Forms
{% endblock %}

{% block content %}

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Select to Autocomplete</title>
	<script src="jquery-1.11.1.min.js"></script>
	<script src="jquery-ui.min.js"></script>
	<script src="jquery.select-to-autocomplete.js"></script>
	<script>
	  (function($){
	    $(function(){
	      $('select').selectToAutocomplete();
	      $('form').submit(function(){
	        alert( $(this).serialize() );
	        return false;
	      });
	    });
	  })(jQuery);
	</script>

<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <form action="/copy-check-your-answers-page-5" method="get" class="form">

    <h1 class="form-title heading-large">
      Help for British people in {{country_display}}
    </h1>
<p>Many government services for British people abroad are offered directly on GOV.UK.</p>
    <h2>Try one of these popular topics to find the service you need.</h2>
    <p><li><a href="https://www.gov.uk/browse/abroad/passports">Passports</a></li>
    <li><a href="https://www.gov.uk/browse/visas-immigration">Visas</a></li>
    <li><a href="https://www.gov.uk/types-of-british-nationality">Applying for British Nationality</a></li></p>
 <p><a href="">More topics</a>


 <fieldset>
      <legend class="heading-medium">Contacting the Embassy</legend>
<p>Before your enquiry is submitted we will suggest some articles from GOV.UK that may answer your question faster. You can submit your enquiry on the next page.</p>
      <div class="group">
           
           <p class="warning-message panel panel-border-narrow">Don't include personal or financial information, eg your National Insurance number or credit card details.</p>


        <label for="textdetails" class="heading-small">What is your enquiry about?</label><br>
        <input type="text" name="enquirytext" class="form-control-2-3 counted" id="textdetails" required aria-required="true"></input>


        <p id="textdetailscounter" class="hint" aria-live="polite" aria-atomic="false">(Limit is 60 characters)</p>
      </div>
    </fieldset>

<fieldset class="visuallyhidden">
    <input type="text" name="country_display" value="{{country_display}}">
    <input type="text" name="post_display" value="{{post_display}}">
</fieldset>

    <div class="form-group">
      <input type="submit" class="button" value="Search >">
    </div>

  </form>
  <a class="button visuallyhidden" href="/skip-to-form" role="button">Skip</a>

</main>
{% endblock %}
