{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Enquiry Submitted</h1>
        <p>
          Your reference number is <br>
          <strong class="heading-medium">{{ reference_number }}</strong>
        </p>
      </div>
      <p>A confirmation email has been sent to {{ contact_email_display }}</p>

 <table>

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            What you submitted
          </h2>

        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Your name
        </td>
        <td>
          {{ contact_name_display }}
        </td>
      </tr>      <tr>
        <td>
          Your email address
        </td>
        <td>
          {{ contact_email_display }}
        </td>
      </tr>      
      <tr>
        <td>
          What your enquiry is about
        </td>
        <td>
          {{ enquirytext_display }}
        </td>
      </tr>
      <tr>
        <td>
          Details of your enquiry
        </td>
        <td>
          {{ enquirydetail_display }}
        </td>
      </tr>
      <tr>
        <td>
          Country or Territory
        </td>
        <td>
          {{ country_display }}
        </td>
      </tr>
      <tr>
        <td>
          Submitted to
        </td>
        <td>
          {{ post_display }}
        </td>
      </tr>      
    </tbody>
  </table>

<br><p>
If  any of these details are wrong contact us on +27 12 421 7500.
</p>
      <h2 class="heading-medium">What happens next</h2>
      <p>We've sent your enquiry to a consular officer.</p>
      <p>They will review your enquiry and respond as soon as they can.</p>
      <p>Return to the <a href="https://www.gov.uk/">GOV.UK home page</a>.</p>


    </div>
  </div>

</main>

{% endblock %}
