{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Enquiry handling prototype</h1>

      <p>
        This app uses the GOV.UK prototype kit for designing and testing changes to the contact centre enquiry handling service (CCEH)
      </p>


      <h2 class="heading-medium">Search journey prototype</h2>

      
       Choose your options:

          <!-- Try with <a href="enquiry-start?country=Spain&post=British Embassy Malaga&resultsdescriptions=Yes">search result descriptions on</a> or with <a href="enquiry-start?country=Spain&post=British Embassy Malaga">descriptions off</a>. Try <a href="enquiry-start?country=Spain&post=British Embassy Malaga&interceptStyle=interruption">interruption on</a>. -->
     

<form action="/enquiry-start" method="get" class="form">


<div class="form-group">

  <fieldset id="country" class="inline">
    <h3 class="heading-small">
     Country
    </h3>

    <label class="block-label selection-button-radio" for="ES" data-target="Spain-posts">
    <input id="ES" type="radio" name="country" value="Spain">
    Spain
    </label>

    <label class="block-label selection-button-radio" for="SA" data-target="South-Africa-posts">
    <input id="SA" type="radio" name="country" value="South Africa">
    South Africa
    </label>
  </fieldset> 

<p></p>

<div class="panel panel-border-narrow js-hidden" id="Spain-posts">
  <fieldset id="post" class="inline">
    <h3 class="heading-small">
     Post
    </h3>
    <label class="block-label selection-button-radio" for="Malaga">
    <input id="Malaga" type="radio" name="post" value="British Embassy Malaga">
    British Embassy Malaga
    </label>
    <label class="block-label selection-button-radio" for="Madrid">
    <input id="Madrid" type="radio" name="post" value="British Embassy Madrid">
    British Embassy Madrid
    </label>
  </fieldset>
  <br> 
</div>


<div class="panel panel-border-narrow js-hidden" id="South-Africa-posts">
  <fieldset id="post" class="inline">
    <h3 class="heading-small">
     Post
    </h3>
    <label class="block-label selection-button-radio" for="Pretoria">
    <input id="Pretoria" type="radio" name="post" value="British Embassy Pretoria">
    British Embassy Pretoria
    </label>
  </fieldset>
  <br>
</div>


<fieldset id="interceptStyle" class="inline">
    <h3 class="heading-small">
     Search results style
    </h3>

    <label class="block-label selection-button-radio" for="WithDescriptions">
    <input id="WithDescriptions" type="radio" name="resultsdescriptions" value="Yes">
    With descriptions
    </label>

    <label class="block-label selection-button-radio" for="WithoutDescriptions">
    <input id="WithoutDescriptions" type="radio" name="resultsdescriptions" value="">
    Without descriptions
    </label>
  </fieldset> 

<p></p>

  <fieldset id="interceptStyle" class="inline">
    <h2 class="heading-small">
     Keyword intercept style
    </h2>

    <label class="block-label selection-button-radio" for="interruption" data-target="intercept-keywords-interruption">
    <input id="interruption" type="radio" name="interceptStyle" value="interruption">
    Interruption card
    </label>

    <label class="block-label selection-button-radio" for="inset" data-target="intercept-keywords">
    <input id="inset" type="radio" name="interceptStyle" value="inset">
    Inset text
    </label>

    <label class="block-label selection-button-radio" for="warning" data-target="intercept-keywords">
    <input id="warning" type="radio" name="interceptStyle" value="warning">
    Warning text
    </label>
  </fieldset>            

<p></p>

 <div class="panel panel-border-narrow js-hidden" id="intercept-keywords-interruption">
<p>To trigger an intercept, include one of the following words in your enquiry subject on the next page: <strong class="bold-small">passport, visa, assault</strong>. <br><br>If continuing beyond the interruption show:
   <fieldset id="formonly" class="inline">
    <label class="block-label selection-button-radio" for="formOnlyNo">
    <input id="formOnlyNo" type="radio" name="formOnly" value="No">
    Standard search results
    </label>
    <label class="block-label selection-button-radio" for="formOnlyYes">
    <input id="formOnlyYes" type="radio" name="formOnly" value="Yes">
    Contact form only
    </label>
  </fieldset><br>
</p>
</div> 

 <div class="panel panel-border-narrow js-hidden" id="intercept-keywords">
<p>To trigger an intercept, include one of the following words in your enquiry subject on the next page: <strong class="bold-small">passport, visa, assault, urgent</strong>.<br><br></p>
</div> 


<br>  
<input type="submit" class="button button-start" value="Try this combination">

</div>
</form>

<Br clear="all">

<p></p>


      <h2 class="heading-medium">Canned searches</h2>

      
       Some combinations that work well, bi-passing the initial enquiry subject page:
      <ul class="list list-bullet">
        <li>For high priority assistance, keyword "assault":<br><a href="/enquiry-results?enquirytext=assault&country=Spain&post=British+Embassy+Malaga&resultsdescriptions=&interceptStyle=interruption&formOnly=Yes">interruption card followed by contact form only, no search results</a></li>
        <li>For lower priority signposting, keyword "visa":<br><a href="/enquiry-results?enquirytext=visa&country=Spain&post=British+Embassy+Malaga&resultsdescriptions=Yes&interceptStyle=inset">inset text above search results with descriptions</a></li>
      </ul>



      
    </div>
  </div>
</main>

{% endblock %}


